@import "mixins";
@import "variables";

.hero {
  display: flex;
  justify-content: center;
}

.container {
  @include container;
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 5rem;
  .hero__shadow {
    border-radius: 10px;
    padding: 4rem;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3);
  }
}

.hero-left {
  display: flex;
  justify-content: center;
  .hero__title {
    font-size: 5rem;
    font-family: $navFontFam;
    span {
      display: block;
      color: $accentColor;
    }
  }
}
.hero-right {
  margin: 2rem 0 0 0;
  display: flex;
  flex-direction: column;

  .hero-right__shadow {
    display: flex;
    flex-direction: column;
  }

  .hero__description {
    font-size: 1.2rem;
    max-width: 20rem;
    font-family: $navFontFam;
  }
  .hero__cta {
    align-self: center;
    justify-self: center;
    margin-top: 1.5rem;
    background: $accentColor;
    padding: 0.3rem 0.7rem;
    font-size: 1.3rem;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    align-self: center;
    font-family: $navFontFam;
    text-decoration: none;
  }
  .hero__cta:hover {
    background-color: #fff;
    color: $accentColor;
    border: 3px solid $accentColor;
    padding: 0.15rem 0.55rem;
  }
}
